[access]
	inheritFrom = All-Projects
[submit]
	action = rebase always
	mergeContent = false
[access "refs/*"]
	owner = group user/Sungwoo Park (swpark)
	owner = group user/cjscld15
	label-Verified = -1..+1 group user/Nexell Jenkins (nxJenkins)
	label-Verified = -1..+1 group user/Sungwoo Park (swpark)
	label-Verified = -1..+1 group user/allan park (mcjino21)
	labelAs-Verified = -1..+1 group user/Sungwoo Park (swpark)
	labelAs-Verified = -1..+1 group user/allan park (mcjino21)
	exclusiveGroupPermissions = label-Verified labelAs-Verified
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/cjscld15
	label-Verified = -1..+1 group user/cjscld15
	push = group user/cjscld15
	read = group user/cjscld15
	rebase = group user/cjscld15
	removeReviewer = group user/cjscld15
	submit = group user/cjscld15
[access "refs/heads/*"]
	create = group user/allan park (mcjino21)
	create = group user/cjscld15
	push = +force group user/cjscld15
	pushMerge = group user/cjscld15
	read = group user/cjscld15
[access "refs/tags/*"]
	push = group user/cjscld15
	push = +force group user/cjscld15
[receive]
	requireSignedOffBy = true
	requireChangeId = true
